@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*nav bar*/
.bar{
    background-color:white ;
    box-shadow: .3em .3em .3em .2em rgba(0,0,0,.2);
    margin-bottom: 4px;
    height: 55px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 15px;
}

.logo img{
width: 15%;
height: 20%;
border-radius: 50%;
}
.logo i{
   color:green;
   font-size: 2rem;
}
#itemcount{
    font-size: 12px;
    padding-left:px;
}
#h3{
    color: green;
}
.logo h1{
    color:green;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    margin-left: -10px;
    margin-bottom:-1px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin: 15px;
}
i.fa-bars{
   font-size:.9px;
   padding:5px;
   transition:.1s;
   display: none;
}
ul{
    display: flex;
    gap: 1.2rem;
    list-style: none;
    font-size: 1rem;
    justify-content:center;
    align-items: center;
    padding-top:15px;
}
ul li i {
    color: green;
    padding-top: 3px;
    padding-right:5px;
    
}
li{
   display:flex ;
}
ul li a{
color:green;
font-size: .9rem;
text-decoration: none;
}
a:hover{
    color: rgb(29, 151, 29);
    text-decoration: overline;
}

.searchcart{
   display: flex;
   gap: 10px;
   color: white;
   font-size: .8rem;
   margin-right: -2px;
}
.searchcart .fa i {
  font-size: 1rem;
}
svg{
   width: 30px; 
}
header .icon-cart{
   position: relative;
}
header .icon-cart span{
   display: flex;
   width: 20px;
   height: 20px;
   background-color: green;
   justify-content: center;
   align-items: center;
   color: white;
   border-radius: 50px;
   position: absolute;
   top: 50%;
   right: -20%;
}
.nav-bar{
    background-size: cover;
    background-color: aliceblue;
    background-image: url(fruithome3.jpg);
    padding-top: 3rem;
}
.nav-box{
    background-color: rgba(0, 7, 1, 0.164);
    margin: 50px;
}
.nav-box h1{
    font-size: 40px;
    font-weight: bolder;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
.nav-info p{
    font-size: 50px;
    font-weight: 80px;
    font-family:'Times New Roman', Times, serif;
     text-align: center;
     font-size: 12px;
     color:white;
}
/* order page*/

.head_bar{
background-color:rgb(121, 167, 52) ;
}
.head-box img{
    width: 150px;
    height: 150px;
    transition:0.6s;
    object-fit: cover;
    margin-bottom: 30px;
    margin-left: 50px;
    }
.head-box img:hover{
    transform: scale(1.2);
}
.head-box {
   margin-top: 50px;
   background-color:white;
   width: 100%;
   display: grid;
   grid-template-columns:2fr 3fr auto;
   place-items: center;
   border-radius: 70px;
   column-gap:120px;
   row-gap: 50px;
   margin: 70px;
}
.name{
   box-sizing: border-box;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    background-color:white;
    padding:50px 0 40px 0px;
    height: 90%;
    transition-property: transform;
    transition-duration: 2s;
    border-radius: 60px;
    transform: translateX(100px);
    transition: all 5s 1s cubic-bezier(0,1,.3,1);
    width: 250px;
    z-index: 10px;
    transform: translateX(10px);
    transition: transform 0.4s;
}
.name h3 {
   font-size: 1.3rem;
   text-align: center;
   padding-bottom: 5px;
}
.name h4 {
   font-size: 1rem;
   text-align: center;
}
.name button a{
   text-decoration: none;
   color: white;
}
.name button {
    font-weight: bold;
    padding: 4px;
    margin-bottom: 2rem;
    margin-left: 70px;
    border-radius: 1rem;
    background-color:rgb(121, 167, 52) ;
    border-color:rgb(180, 214, 180) ;
    transition: transform 0.4s;
}
.name button:hover{
   transform: scale(1.1);
}

.order2 {
    background-color:rgba(33, 51, 7, 0) ;
    font-size:.9rem;
    font-weight: bold;
    color:rgb(121, 167, 52)  ;
    text-align: center;
    margin: 2rem 2rem;
}

/*footer*/
.foot{
    background-color:rgb(33, 42, 21) ;
    margin-top: 4rem; 
   
}
.foot-bar h1{
color:white;
font-size:1.8rem;
font-weight: 50rem;
    display:flex;
    justify-content: center;
    padding-top: 20px;
}
.foot-box{
    display: flex;
    justify-content:space-around;
    padding-top: 10px;
    padding-bottom: 30px;
    gap: 3rem;
}
.foot h2{
    color:#fff;
    font-weight:300rem;
    font-size: 25px;
}
.foot p{
    color:#fff;
    display: flex;
    flex-direction: column;
}
.foot p a{
    color:#fff;
    font-weight: lighter;
    font-size: .8rem;
 }
 .copyright p{ 
    color:#fff;
    font-size: large;
    font-weight: bold;
    align-items: center;
    padding-bottom: 12px;
    margin: 0;
 }
 /* homepage */
 .navbar{
    width: 100%;
    height: 100%;
    background-image: url(fruithome9.jpg);
    animation-name: myanime;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    padding:8rem;
    margin: 0.5rem 0;
    margin-top: 2rem;
    margin-bottom: 3rem;
   
 }
 @keyframes myanime {
    0%{background-image: url(fruithome9.jpg);}
    25%{background-image: url(fruithome6.png);}
    50%{background-image: url(fruithome5.jpg);}
    75%{background-image: url(fruithome8.webp);}
    100%{background-image: url(fruithome9.jpg);}
 }
 .but button{
    padding: 7px;
    background-color:rgba(47, 85, 27, 0.7) ;
    font-weight: bold;
    border-radius: 1rem;
    border-color:rgb(124, 155, 124) ;
    margin: 10px;
 }
 .but button a{
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 14px;
 }
 .navi-bar img{
    width: 50%;
    height: 100%;
    object-fit:contain;
 }
 .bar1{
    background-color: rgba(37, 37, 37,0.18);
    width: 100%;
    height: 80%;
   text-align: center;
    padding: 2rem;
 }
 .bar1 h1{
    font-size: 2.5rem;
    color:rgb(3, 31, 3) ;
    padding: 15px;
 }
 .bar1 p{
    font-size: .9rem;
    font-weight: bolder;
    color: white;
    padding: 15px;
 }
 .ad{
    background-color:white;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 8px;
 }
.ad h2{
    font-size: 1rem;
    color:rgb(121, 167, 52);
}
.ad-product{
   font-family: 'Times New Roman', Times, serif;
   font-size: 35px;
   font-weight: bold;
   color: green;
   text-align: center;
   margin: 30px;
   margin-top: 60px;
}
 .ad img{
    width: 9rem;
    height: 9rem;
    margin-bottom: 20px;
 }
 .ad button{
        background-color:rgb(121, 167, 52) ;
        font-weight: bold;
        font-size: .8rem;
        color: white;
        padding: 4px;
        margin-top: 0.5rem;
        border-radius: 1rem;
        border-color:rgb(224, 230, 224);
        transition: transform 0.4s;
    }
.ad button:hover{
       transform: scale(1.1);
    }
 .ad1{
    box-sizing: border-box;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    background-color:white;
    padding:60px;
    height: 50%;
    transition-property: transform;
    transition-duration: 2s;
    border-radius: 60px;
    transform:rotateZ(-4deg), translateX(200px);
    transition: all 5s 1s cubic-bezier(0,1,.3,1);
    width: 350px;
    z-index: 5px;
    transform: rotateZ(1deg) translateX(10px);
    transition: transform 0.4s;

 }
 .ad1:hover{
    transform:scale(1.1);
 }
 .ad2{
    box-sizing: border-box;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    background-color:white;
    padding:60px;
    margin-top: 5rem;
    height: 70%;
    transition-property: transform;
    transition-duration: 2s;
    border-radius: 60px;
    transform:rotateZ(-4deg), translateX(200px);
    transition: all 5s 1s cubic-bezier(0,1,.3,1);
    width: 350px;
    z-index: 5px;
    transform: rotateZ(1deg) translateX(10px);
    transition: transform 0.4s;
 }
 .ad2:hover{
    transform:scale(1.1);
    
 }
 .ad3{
    box-sizing: border-box;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    background-color:white;
    padding: 60px;
    padding-top:-80rem;
    margin-top: 12rem;
    height: 50%;
    transition-property: transform;
    transition-duration: 2s;
    border-radius: 60px;
    transform:rotateZ(-4deg), translateX(200px);
    transition: all 5s 1s cubic-bezier(0,1,.3,1);
    width: 350px;
    z-index: 5px;
    transform: rotateZ(1deg) translateX(10px);
    transition: transform 0.4s;
 }
 .ad3:hover{
    transform: scale(1.1);
 }
 .ad4{
    box-sizing: border-box;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    background-color:white;
    padding:60px;
    height: 50%;
    border-radius: 60px;
    transform:rotateZ(-5deg), translateX(500px);
    transition: all 5s 1s cubic-bezier(0,1,.3,1);
    width: 300px;
    z-index: 10px;

 }
 .home{
    font-size: 2.3rem;
    color:rgb(58, 80, 26) ;
    text-align: center;
    margin-top: 2rem;
 }
 .head{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 80px;
    margin-top: 6rem;
    column-gap: 3rem;
 }
 .headbar{
    height: 90%;
    box-shadow: 1em 1em 1em .25em rgba(0,0,0,.2);
    background-image: url(fruithome5.jpg);
    background-size: cover;
    color: white;
    align-items: center;
    animation-name: myanimes;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    border-radius: 50px;
 }
 @keyframes myanimes {
    0%{background-image: url(fruithome5.jpg);}
    25%{background-image: url(fruithome4.jpg);}
    50%{background-image: url(fruithome3.jpg);}
    75%{background-image: url(fruithome2.jpg);}
    100%{background-image: url(fruithome5.jpg);}
 }
.headbar h1{
    font-size: 2rem;
    padding: 5px;
}
.headbar p{
    font-size: .9rem;
    padding: 7px;
}
 .headbar1 img{
    width:80% ;
    height: 90%;
    object-fit: contain;
 }
 .headbar1{
    height:50%;
 }
 .headbar2 img{
    width: 100%;
    padding:10px ;
 }
 .headbar2{
    height: 90%;
    box-shadow: 1em 1em 1em .25em rgba(0,0,0,.2);
    background-color:white;
    color: green;
    border-radius: 40px;
    padding: 12px;
 }
 .headbar2 p{
   padding: 20px;
   font-size: .8rem;
 }
 /* aboutpage */
 .mainbar{
    margin:60px;
    display: flex;
 }
 .main1{
    width:50%;
    padding: 8rem;
    background-image: url(fruithome3.jpg);
    background-size:cover;
 }
 .main1 h1{
    font-size: 4rem;
    color: white;
    text-align: center;
 }
 .mainbar p{
    font-size: 1.2rem;
    text-align: center;
    color: rgb(121, 167, 52);
 }
 .main2{
   width: 50%;
 }
 .main2 h1{
    font-size: 3rem;
    font-weight: bold;
    color:rgb(86, 116, 43)  ;
    text-align: center;
    margin: 2rem 2rem;
 }
 .main2 p{
   color:rgb(121, 167, 52);
   font-size: 15px;
   text-align: center;
 }
 .main3{
   width: 50%;
   margin-left: 35rem;
   margin-top: -3rem;
 }
 .main3 h1{
   font-size: 3rem;
   font-weight: bold;
   color:rgb(86, 116, 43)  ;
   text-align: center;
   margin: 2rem 2rem;
}
.main3 p{
  color:rgb(121, 167, 52);
  font-size: 15px;
  text-align: center;
}


/*signin PAGE*/

  .signinform{
    width: 100%;
    height: 100%;
    margin-left: 20rem;
    padding-top: 1.5rem;
    background-color:rgba(58, 97, 57, 0.3);
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
 }
 .sign{
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
    justify-content: space-around;
    margin: 2rem 0 0 0;
 }
 .sign .nav-box{
    background-color: white;
    align-items: center;
    justify-items: center;
    margin-top:5rem ;
 }
 .sign .nav-box h1{
    font-size: 2rem;
    color: green;
 }
 .sign .nav-box p{
    color: rgb(5, 54, 13);
    font-size: 1rem;
 }
 .signin{
    background-image: url(fruithome2.jpg);
    background-size: cover;
    width: 50%;
    height: 30%;
    margin-top: 1.8rem;
 
 }
 .signin form {
    width: 70%;
    height: 50vh;
    margin: 2rem 10rem 2rem 7rem;
    background-color:rgba(58, 97, 57, 0.3);
  display: flex;  
    flex-direction: column;
 }
 .signin h1{
    color: green;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 2rem;
 }
 .signin .info_content {
   align-items: center;
   margin-right: 20rem;
 }
 .signin .info_content label{
   width: 19%;
   font-size: 18px;
   font-weight: bold;
   color: green;
   margin-left: 3rem;
 }
 .signin .info_content input
 {
    width: 55%;
    height: 42%;
    border-radius: 1em;
    border: none;
    outline: none;
    background-color: white;
    color:black;
    margin-left: .5rem;
    padding: 15px;
    font-size: .9rem;
 }
 .but1 button{
    margin-bottom: 1rem;
    padding: 8px 8px;
    font-size: .7rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgba(39, 77, 44, 0.8);
    border-radius: 2rem;
    
  }
  .but1 a{
    color: white;
    text-decoration: none;
    font-size:1rem;
    font-family: 'Times New Roman', Times, serif;
  }

/*SIGNUP PAGE*/

.form1{
   margin: 4rem 0 0 0;
   background-image: url(fruithome7.jpg);
   object-fit:contain;
   background-size: cover;
   text-align: center;
   padding: 5rem;
}
.signup{
   background-color:rgba(68, 129, 54, 0.2);
   padding:3rem;
   width: 50%;
   margin-left: 25rem;
}
.signup h1{
   color: rgb(8, 41, 8);
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: 1.5rem;
   
}
.info-cont{
   margin:1.5rem;
}
.info-cont label{
color: rgb(0, 6, 0);
font-family: 'Times New Roman', Times, serif;
font-size: 20px;

}
.info-cont input{
   border: none;
   border-radius: 10px;
   padding: 3px;
   width: 60%;
}
.signup-btn button{
   border: none;
   background-color: rgb(13, 51, 13);
   padding: 8px;
   width: 100px;
   border-radius: 18px;
   color: white;
   font-family: 'Times New Roman', Times, serif;
   margin-bottom: 1rem;
   font-size: 1.2rem;
}
#sign-p{
   color: white;
   font-family: 'Times New Roman', Times, serif;
   font-size: 1.1rem;
}
#sign-p a{
   text-decoration: none;
   color: white;
   font-family: 'Times New Roman', Times, serif;
   background-color:rgba(8, 44, 8,.7) ;
   padding: 3px;
   border-radius: 10px;
}

  /* contactpage */
 .image img{
    width:100%;
    height:20rem;
    background-size: cover;
    margin-top: .3rem;
 }
 .image h1{
    font-size: 3rem;
    font-weight:bolder;
    color: rgb(9, 77, 9);
    margin-top: -2rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration:overline underline;
 }
 .images img{
    width: 100%;
    height: 10rem;
    object-fit: contain;
 }
 .contact{
    width:100%;
    height:100%;
    background-color: rgb(227, 255, 210);
    background-size: cover;
    object-fit: fill;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: .7rem;
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
 }
 .cont h1{
    color:rgb(17, 66, 17);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 1rem;
 }
 .cont p{
    color: rgb(7, 58, 7);
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
    margin-left: 3rem;
    
    
 }
 @media screen and (max-width:992px) {
   .ad{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3px;
      gap: 2rem;
   }
   .head-box {
      grid-template-columns: 2fr 2fr ;
      place-items: center;
      width: 100%;
   }
   .signup{
      background-color:rgba(68, 129, 54, 0.2);
      padding:3rem;
      width: 80%;
      margin-left:6rem;
   }
   .form1{
      padding:3rem;
   }
 }

 @media screen and (max-width:768px) {
   [class*="col-"]{
      width: 100%;
   }
  i.fa-bars{
      font-size:15px;
      padding:20px;
      transition:.1s;
      display: block;
      width:20px;
      height: 20px;
      margin-left: 39px;
      margin-bottom: 15px;
      text-align: center;
  }
  i.fa-bars:active{
      background:rgba(255,255,255,.2);
  }
  #ul-mobile{
   width:130px;
   height:0;
   overflow:hidden;
   background:#60bb67;
   text-align:center;
   color:#fefefe;
   transition:.4s;
   position: absolute;
   padding:0 20px;
   margin: 11rem 10rem 0 13rem;
}
   .bar{
      background-color:white ;
      box-shadow: .2em .2em .2em .1em rgba(0,0,0,.2);
      height: 30px;
  
  }
  .logo img{
  width: 10%;
  height: 10%;
  border-radius: 30%;
  }
  #itemcount{
      font-size: 6px;
      padding-left:px;
  }
  #h3{
      color: green;
  }
  .logo h1{
      color:green;
      font-size: .9rem;
      margin-left: 0;
      font-style: oblique; 
  }
  .logo{
      display: flex;
      align-items: center;
      gap: 0.1rem;
      margin: 5px;
  }
  ul{
   display:inline;
   justify-content:space-between;
   align-items: center;
   font-size: 12px;
   padding-right:0px;
}
  ul li i {
   padding:0px;
   color: green;
      
  }
  ul li{
   list-style-type:none;
    transition:.2s;
    padding:7px;

  }
  ul  li:hover{
   background:rgba(255,255,255,.3);
   scale:0.9;
   border-radius: 10px;
}
  ul li a{
  color:green;
  text-decoration: none;
  }
  a:hover{
      color: rgb(29, 151, 29);
      text-decoration: overline;
  }
  .searchcart .fa{
   font-size: 10px;
   background-color: green;
   padding: 4.5px;
   gap:0;
 }
  /*.search-form{
     position: absolute;
     top: 110%;
     margin-left: -50rem;
     width: 30rem;
     height: 4rem;
     background-color:white;
     border-radius: .5rem;
     overflow: hidden;
     display: flex;
     flex-direction: row;
     align-items: center;
     box-shadow: var(--box-shadow);
  }
  .search-form input{
     height: 100%;
     width: 100%;
     background: none;
     text-transform: none;
     font-size: 1.2rem;
     color: #130f40;
     padding: 0 1.5rem;
  }
  .search-form label{
     font-size: 1.9rem;
     padding-left: 1rem;
     color: #130f40;
     cursor: pointer;
  }
  .search-form label:hover{
     color:limegreen;
  }*/

.nav-box{
    background-color: rgba(0, 7, 1, 0.164);
}
.nav-box h1{
    font-size: 28px;
}
.nav-info p{
    margin-top: 5px;
    padding: 8px;
    font-size: 10px;
}
.order h1{
    color:green;
    font-size:1rem;
}
.grid-img img{
    width: 60px;
    height:60px;
    border-radius: 100px; 
}
.grid-img{
    display: grid;
    grid-template-columns:100px 100px;
    margin-bottom:10px;
    
}

.head_bar{
background-color:rgb(121, 167, 52) ;
}
.head-box img{
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
    transition:0.6s;
    }
.head-box img:hover{
    transform: scale(1.2);
}
.head-box {
    margin-top: 10px;
    background-color:white;
    display: grid;
    grid-template-columns: 1fr ;
    place-items: center;
}
.name{
    color:rgb(78, 110, 28) ;
    font-size:.6rem;
    padding: 40px;
    border-radius: 1rem;
}
.name h3 {
   font-size: .9rem;
}
.name h4 {
   font-size: .8rem;
}
.name button{
    padding: 4px;
    margin-top: 0.1rem;
    transition: transform 0.4s;
    margin-left: 53px;
}
.name button:hover{
   transform: scale(1.1);
}

.order2 {
    font-size:.6rem;
}

.foot-bar h1{
font-size:1.2em;
}
.foot-box{
    display: flex;
    justify-content:space-around;
    padding-top: 5px;
    padding-bottom: 20px;
    gap: 1rem;
}
.foot h2{
    color:rgb(9, 43, 9);
    font-weight:30rem;
    font-size: 15px;
}
.foot p a{
    font-size: .6rem;
 }
 .copyright p{ 
    font-size: .6rem;
    padding-bottom: 12px;
 }
 .but button{
    padding: 3px;
    margin: 4px;
 }
 .but button a{
    font-size: 10px;
 }
 .navi-bar img{
    width: 50%;
    height: 100%;
    object-fit:contain;
 }
 .bar1 h1{
    font-size: 1.5rem;
    font-weight: bold;
    padding:5px;
 }
 .bar1 p{
    font-size: .6rem;
    font-weight: bolder;
    padding:3px;
 }
 .ad{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap: 2rem;
 }
.ad h2{
    font-size: .9rem;
    color:rgb(121, 167, 52);
}
.ad-product{
   font-family: 'Times New Roman', Times, serif;
   font-size: 24px;
   font-weight: bold;
   color: green;
   text-align: center;
   margin: 10px;
   margin-top: 60px;
}
 .ad img{
    width: 5rem;
    height: 5rem;
 }
 .ad button{
        font-size: .6rem;
    }
 .ad1{
    padding:60px;
    height: 50%;
    width: 230px;
    margin-top: 20px;
 }
 
 .ad2{
   padding:60px;
   height: 50%;
   margin-top: 60px;
   width: 230px;
}
 .ad3{
   padding: 60px;
    margin-top:60px;
    height: 50%;
    width: 230px;
 }
 .ad4{
    padding:70px;
    height: 50%;
    width: 260px;
    margin: 20px;
 }
 .home{
    font-size: 1.3rem;
    margin-top: 4rem;
 }
 .head{
    background-color: white;
    display:block;
    margin:18px;
    padding: 10px;
    margin-top: 4rem;
 }
.headbar h1{
    font-size: 2rem;
    padding: 8px;
}
.headbar p{
    font-size: .8rem;
    padding: 10px;
}
 .headbar1 img{
    width:0 ;
    height:0;
 }
 .headbar1{
    height:50%;
 }
 .headbar2 img{
    width: 100%;
    padding: 20px;
 }
 .headbar2 p{
    font-size: .8rem;
    padding: 10px;
 }
 .mainbar{
    margin:10px;
    display:block;
 }
 .main1{
    width:100%;
    padding: 5rem;
 }
 .main1 h1{
    font-size: 2rem;
 }
 .mainbar p{
    font-size: 1rem;
 }
 .main2{
   width: 100%;
 }
 .main2 h1{
    font-size: 1rem;
    margin-bottom: 0;
 }
 .main2 p{
   color:rgb(121, 167, 52);
   font-size: .6rem;
   text-align: justify;
   padding: 20px;
 }
 .main3{
   width: 100%;
   margin-left:0;
   margin-top: 3rem;
 }
 .main3 h1{
   font-size: 1rem;
   margin-bottom: 0;
}
.main3 p{
  color:rgb(121, 167, 52);
  font-size:.6rem;
  text-align:justify;
  padding: 30px;
}
/*signin*/

.form1{
    width: 100%;
    height:30rem;
    padding: 1rem 1rem;
    margin-top: 1rem;
  }
  form{
    width: 110%;
    height: 45vh;
    margin-top:15px;
    margin-left: 0;
    padding-top:0; 
    padding: 20px;  
 }
 .form1 h3{
   margin-bottom: 0;
   margin-top:  12px; 
   padding-top: 80px;
    font-size: 1.2rem;
 }
 .form1  .info_content{
   margin: 0;
 }
 .form1 p{
    color: white;
    font-size: .6rem;
    margin:0;
    padding-bottom: 4rem;
 }
 .form1 p a{
    padding: .2rem;
    font-size: .6rem;
 }
 .info_content
 {
    display: flex;
    margin-bottom:0px;
 }
 
 .info_content label
 {
    width: 49%;
    font-size: 12px;
    margin: 0;
 }
 .info_content input
 {
    width: 70%;
    height: 60%;
 }
 .sign{
    display:block;
    row-gap: 1rem;
    margin: 1rem 1rem;
 }
 .signin{
   width: 30%;
   height: 20%;

}
 .sign .nav-box h1{
    font-size: 1.2rem;
 }
 .sign .nav-box p{
    font-size: .7rem;
 }
 .signin{
    width: 100%;
 }
 .signin form {
    width: 100%;
    height: 50vh;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left:0;
 }
 .signin h1{
    font-size: 1.1rem;
   margin-bottom: -20px;
 }
 .signin .info_content {
   margin-bottom:-23px;
 }
 .signin .info_content input
 {
    width: 70%;
    height: 30%;
    font-size: .9rem;
    margin-left:1.1rem;
 }
 .signin .info_content label{
   font-size: .9rem;
   padding: 15px;
   margin: 0;
 }
 .but1 button{
   margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 4px;
    font-size: 1rem;
    border-radius: 17px;
  }
 
  .but1 a{
    font-size:.9rem;
  }
  /*SIGNUP PAGE*/

.form1{
   
   padding: 5rem;
}
.signup{
   padding:0;
   width: 80%;
   margin-left:3rem;
}
.signup h1{
   font-size: 1.2rem;
   
}
.info-cont{
   margin:.8rem;
}
.info-cont label{
font-size: 17px;

}
.info-cont input{
   padding:0;
   width: 45%;
}
.signup-btn button{
   padding: 3px;
   width: 60px;
   margin-bottom: 1rem;
   font-size: .9rem;
}
#sign-p{
   font-size: .9rem;
}
#sign-p a{
   padding: 3px;
   font-size: .8rem;
}
 .image img{
    width:100%;
    height:10rem;
 }
 .image h1{
    font-size: 2rem;
    margin-top: -1.2rem;
 }
 .images img{
    width: 80%;
    height: 5rem;
    margin-top:0;
    margin-left: 3rem;
 }
 .contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .1rem;
    row-gap: .3rem;
    padding: 1rem;
 }
 .cont h1{
    font-size: .9rem;
    margin: .5rem;
 }
 .cont p{
    font-size: .6rem;
    margin-left: 2rem;
 }
}

 /*@media (max-width:300px) {
    body{
        min-width: 200px;
    }
    .bar{
        min-width: 200px;
    }
    .nav-bar{
        min-width: 200px;
    }
    .head_bar{
        min-width: 200px;
    }
    .foot{
        min-width: 200px;
    }
    

    
 }*/















